@model MOM3.Models.GenreModel

@{
    ViewData["Title"] = "Edit";
}
<br>
<h1>Ändra</h1><br>

<h4>Fyll i nytt namn på kategori nedan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="GenreModelId" />
            <div class="form-group">
                <label asp-for="GenreName" class="control-label">Namn på genre</label>
                <input asp-for="GenreName" class="form-control" />
                <span asp-validation-for="GenreName" class="text-danger"></span>
            </div><br>
            <div class="form-group">
                <input type="submit" value="Spara ändringen" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br>
<div>
    <a asp-action="Index">Tillbaka till listan med genrer</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
